<ion-view>
    <ion-content class="padding-8" scroll="false">
      
        <div class = "col header text-center">
            <img src="./img/logo.png" class = "logo" />
        </div>
        
          <div class="list login-form">
            <label class="item item-input item-floating-label">
                <span class="input-label">E-mail</span>
                <input type="text" placeholder="E-mail" ng-model="model.email">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Password</span>
                <input type="password" placeholder="Password" ng-model="model.password">
            </label>     
       
        <div class="item">
            <button ripple ng-click="signIn()" class="button button-block button-outline button-assertive">
            Iniciar Sesión
            </button>
        </div>
              <a class="sign-up-text" ng-click="openSignUpModal()">¿Todavia no tienes cuenta? Registrate!</a>
       </div>  
    </ion-content>
</ion-view>