<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Registro</h1>
        <button class="button button-clear" ng-click="closeSignUpModal()"><i style="color: black;" class="ion-close-round"></i></button>
    </ion-header-bar>

  <ion-content class="padding-8">
    <form ng-submit="signUp()">
      <div class="list">
        <label class="item item-input item-floating-label">
            <span class="input-label">E-mail</span>
            <input type="email" placeholder="E-mail" ng-model="model.email">
        </label>
        <label class="item item-input item-floating-label">
            <span class="input-label">Nombre</span>
            <input type="text" placeholder="Nombre y Apellido" ng-model="model.name">
        </label>
        <label class="item item-input item-floating-label">
            <span class="input-label">Password</span>
            <input type="password" placeholder="Password" ng-model="model.password">
        </label> 
        <label class="item">
          <button ripple class="button button-block button-outline button-assertive" type="submit">Registrarse</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>